.sheading{
  font-family: 'Bell MT';
}
.sheading .sname{
  margin: 0 0 -6px !important;
  padding: 0px;
}
.sheading span {
  margin: 0px !important;
  padding-left: 58px;
  color: #8d8fa5;
}
nav ul li{
  display: inline;
}
